html {
    background: #ccc;
    font-size: 13px;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial;
    color: #333;
    background: url(/images/background.gif) center repeat-y;
}

div#page {
    margin: 0 auto; /* top:0, bottom:0, left:auto, right:auto */
    width: 963px;
    background: white;
}

div#page #header {
    height: 68px;
    background: url(/images/page-header-background.gif) bottom repeat-x;
    padding:5px 10px;
}

div#page #content-left {
    float:left;
    width:150px;
    padding:10px;
    background:url(/images/page-content-background.gif) top repeat-x;
    border-right:1px solid #ccc;
}

div#page #content {
    float:left;
    padding:20px;
    width:581px;
    background:url(/images/page-content-background.gif) top repeat-x;
}

div#page #content-right {
    float:left;
    width:150px;
    padding:10px;
    background:url(/images/page-content-background.gif) top repeat-x;
    border-left:1px solid #ccc;
}

div#page #footer {
    clear:both;
    border-top:1px solid #ccc;
    margin:20px 0 0 0;
    padding:15px 0px;
    text-align:center;
}

div#page-tail {
    width: 980px;
    margin: 0 auto;
    height: 12px;
    background: url(/images/page-tail.gif) top center no-repeat;
}
